*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);

}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(./photo/my.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
body , html {
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section {
    width: 88%;
    margin: 88px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    gap: 20px;
}
.row-1 .col-1 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    width: 600px;
    height: 400px;
    border: solid 1px #e9690097;
    border-radius: 5px;
}
.row-1 .col-1 h1{
    margin-left: 430px;
}
.row-1 .col-1 p{
    margin-left: 350px;
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px; 
}
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./Images/deede.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: black;
    font: bold;

}
.explore-content h1 {
    font-size: 7vmin;
}
.explore-content .line {
    margin-bottom: 50px;
}
.explore-content p {
    color: whitesmoke;
    box-shadow: black;
    font: bold;
    
}
.explore-content .ctn {
    margin-top: 40px;
}
.zbr .line {
    margin-left: -1px;
}
.zbr p {
    padding: 0;
    margin: 30px auto;
}
.zbr .ctn {
    margin-left: -5px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;

}
.footer button{
    padding: 10px 50px;
    margin-left: 40px;
    background: #2384e5;
    color: whitesmoke;
    font-size: large;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.footer button:hover{
    background: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
img{
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #000056;
}
li:hover {
    color: #ffffff;
}
.col video{
    border: solid 1px #e9690097;
    border-radius: 9px;
    width: 800px;
    display: flex;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.col h1{
    margin-left: 400px;
}
.col p{
    margin-left: 150px;
}
.col .tit {
    display: flex;
    text-align: center;
}
@media (max-width: 667px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);

}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(./photo/my.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fc036b;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
body , html {
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section {
    width: 88%;
    margin: 88px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    gap: 20px;
}
.row-1 .col-1 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3px;
    width: 330px;
    height: 250px;
    border: solid 1px #e9690097;
    border-radius: 5px;
}
.row-1 .col-1 h1{
    margin-left: 60px;
}
.row-1 .col-1 p{
    margin-left: 20px;
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px; 
}
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./Images/deede.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: black;
    font: bold;

}
.explore-content h1 {
    font-size: 7vmin;
}
.explore-content .line {
    margin-bottom: 50px;
}
.explore-content p {
    color: whitesmoke;
    box-shadow: black;
    font: bold;
    
}
.explore-content .ctn {
    margin-top: 40px;
}
.zbr .line {
    margin-left: -1px;
}
.zbr p {
    padding: 0;
    margin: 30px auto;
}
.zbr .ctn {
    margin-left: -5px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 5px 5px;
    margin: 0;
    background-color: #484872;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
.footer p {
    color: whitesmoke;
    margin: 5px auto;
    font-family: 'Courier New', Courier, monospace;

}
.footer button{
    padding: 10px 50px;
    margin-left: 40px;
    background: #2384e5;
    color: whitesmoke;
    font-size: large;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.footer button:hover{
    background: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
img{
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #000056;
}
li:hover {
    color: #ffffff;
}
.col video{
    border: solid 1px #e9690097;
    border-radius: 9px;
    width: 290px;
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.col h1{
    margin-left: 5px;
    text-align: center;
}
.col p{
    margin-left: 20px;
}
.col .tit {
    display: flex;
    text-align: center;
}
}